.appStyle{
  display: grid;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  height: 100%;
}

.center{
  display: grid;
  justify-content: center;
}

.shadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #0000;
}

.warningText{
  color: red;
}