.container {
    background-color: rgb(255, 240, 157);
    padding: 20px;
  }
  
  .title {
    font-size: 24px;
    color: navy;
    margin-bottom: 10px;
  }
  
  .input {
    margin-bottom: 10px;
  }
  
  .button {
    background-color: lightcoral;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
  
  .data-container {
    background-color: #D3C823;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .property {
    margin-bottom: 5px;
  }
  
  .property strong {
    color: navy;
  }
  